* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #a7a4a4;
  width: 40vw;
  height: 70vh;
  border-radius: 20px;
  margin: 50px;
  box-shadow: 2px 30px 50px -5px #a7a4a4;
}
.profileImage {
  height: 180px;
  width: 170px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 2px 30px 50px -5px #a7a4a4;
}
.span {
  color: aqua;
  border-radius: 50%;
  font-size: 28px;
}
.estelle {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  padding-left: 15px;
}

p {
  padding: 5px;
  padding-left: 15px;
}

.card ul li {
  background-color: aqua;
  color: #fff;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}
button {
  padding: 15px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin: 10px;
}
